## mako
<%!
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

## WARNING: These files are specific to edx.org and are not used in installations outside of that domain. Open edX users will want to use the file "footer.html" for any changes or overrides.

  
<footer id="footer-openedx" class="grid-container">
      <div class="colophon">
        <nav class="nav-colophon" aria-label="About">
          <ol>
              <li class="nav-colophon-01">
                <a id="about" href="http://pledu.lk/about">About</a>
              </li>
              <li class="nav-colophon-02">
                <a id="blog" href="http://pledu.lk">Blog</a>
              </li>
              <li class="nav-colophon-03">
                <a id="contact" href="http://pledu.lk/contact_us">Contact</a>
              </li>
              <li class="nav-colophon-04">
                <a id="donate" href="http://pledu.lk/donate">Donate</a>
              </li>
          </ol>
        </nav>


        <div class="wrapper-logo">
          <p>
            <a href="/">
              <img alt="organization logo" src="https://lms.pledu.lk/static/images/logo.b6c374d66d57.png">
            </a>
          </p>
        </div>

        <p class="copyright">© PLEdu - Learn at your own convenience.  All rights reserved. </p>

        <nav class="nav-legal" aria-label="Legal">
          <ul>
              <li class="nav-legal-01">
                <a href="http://pledu.lk/privacy">Privacy Policy</a>
              </li>
              <li class="nav-legal-02">
                <a href="http://pledu.lk/tos">Terms of Service</a>
              </li>
              <li class="nav-legal-03">
                <a href="http://pledu.lk/honor">Honor Code</a>
              </li>
            
          </ul>
        </nav>
      </div>
    </footer> 
  
  
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif
